h2{
  font-size:50px;
}
.title{
  font-size:50px;
}
.talk-to-me{
  font-size:40px;
}
.text-white{
  color:white;
}
.form-control{
  font-size:26px;
}
.contact{
    padding: 4%;
    height: 400px;
}
.pixel{
  font-family: 'VT323', monospace;
  font-size: 30px;
}
.col-md-3{
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.icon{
  margin-right: 2px;
  width: 30px;
  display: inline-block;
}
.icon-text{
  display: inline-block;
}
.contact-info h2{
    margin-bottom: 10%;
}

.col-md-9{
    background: rgba(255, 255, 255, 0);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form button{
    background:#149ddd;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

section{
    padding-top: 100px;
}
.form-group{
  color:white;
}
label{
  font-size:30px;
  color:white;
}
h3,h4{
    color: white;
}
